NODE_ENV=
PORT=

FRONTEND_URL=
BACKEND_URL=

MONGODB_URI=

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_WEBHOOK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=
ADMIN_EMAILS=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=casamento/guest-photos
